.carousel-list {    
    list-style: none;
    align-items: center;
}
 
.item {
    display: block;
    margin-right: 5px;
    float: left;
    color: #5b5e7e
}
 
.item img {
    max-width: 200px;
    max-height: 100px;
    border: 1px solid #c9ddf7;
    border-radius: 5px;

}

OwlCarousel.navText {
    size: 15cm;
}

.TOP {
    height: 25px ;
    display: block;
    margin: auto;
    color: #5b5e7e
}
