.carousel-list {    
    list-style: none;
    align-items: center;
}
 
.item {
    display: block;
    margin-right: 5px;
    float: left;
    color: #5b5e7e
}
 
.item img {
    max-width: 200px;
    max-height: 100px;

}

OwlCarousel.navText {
    size: 10pix
}

.TOP {
    display: block;
    margin: auto;
    color: #5b5e7e
}
