.carousel-list {    
    list-style: none;
    align-items: center;
}
 
.item {
    display: block;
    margin-right: 5px;
    float: left;
    color: #74924C
}
 
.item img {
    max-width: 200px;
    max-height: 100px;

}

OwlCarousel.navText {
    size: 5pix
}